  <%= render 'layouts/task_printout' %>
  <div class="btn-group" role="group" aria-label="group of editing buttons">
    <a class="btn btn-lg nav-btn" role="button" href="new"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> New</a>
    <button class="btn btn-lg nav-btn" type="submit" name="submit" value="edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  Edit</button>
    <button class="btn btn-lg nav-btn" type="submit" name="submit" value="complete"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Complete</button>
  </div>
</form>
